<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Fleet Management</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.list">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-if="userRole == 'admin'" ng-click="changeView('add')" class="btn pull-right btn-success card-block-input-item">Add Vehicle</button>
                <div class="pull-right card-block-input-group card-block-input-item">
                    <div class="input-group input-group-sm">
                        <input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <h4 style="font-weight: bold;" class="card-title">Vehicle List</h4>
                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>Year</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Type</th>
                                <th>Driver</th>
                                <th ng-if="userRole == 'admin'">Operations</th>
                            </tr>
                            <tr ng-repeat="vehicle in vehicles | filter:searchText">
                                <td>
<a href="" ng-click="vehicleDetails( vehicle.vehicle_id )">{{vehicle.vehicle_number}}</a>
                                </td>
                                <td>{{vehicle.year}}</td>
                                <td>{{vehicle.make}}</td>
                                <td>{{vehicle.vehicle_model}}</td>
                                <td>{{vehicle.type}}</td>
                                <td>{{vehicle.name}}</td>
                                <td>
                                    <button ng-if="userRole == 'admin'" ng-click="edit(vehicle.vehicle_id)" type="button" class="btn btn-info btn-circle" title="Edit" tooltip><i class="fa fa-pencil"></i></button>
                                    <button ng-if="userRole == 'admin'" ng-click="remove(vehicle,$index)" type="button" class="btn btn-danger btn-circle" title="Delete" tooltip><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="!vehicles.length"><td class="noTableData" colspan="7">No Vehicles Found</td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.add">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">Cancel Add</button>
                <h4 style="font-weight: bold;" class="card-title">Vehicle details</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="addvehicles" role="form" ng-submit="saveAdd()" novalidate>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.vehicle_number.$invalid}">
                            <label class="col-sm-2 control-label">Vehicle Number * </label>
                            <div class="col-sm-10">
                                <input type="text" name="vehicle_number" ng-model="form.vehicle_number" class="form-control" required placeholder="Vehicle Number">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.year.$invalid}">
                            <label class="col-sm-2 control-label">Year *</label>
                            <div class="col-sm-10">
                                <input type="text" name="year" ng-model="form.year" class="form-control" required placeholder="Year">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': addvehicles.make.$invalid}">
                            <label class="col-sm-2 control-label">Make *</label>
                            <div class="col-sm-10">
                                <input type="text" name="make" ng-model="form.make" class="form-control" required placeholder="Make">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addvehicles.vehicle_model.$invalid}">
                            <label class="col-sm-2 control-label">Model *</label>
                            <div class="col-sm-10">
                                <input type="text" name="vehicle_model" ng-model="form.vehicle_model" class="form-control" required placeholder="Model">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addvehicles.type.$invalid}">
                            <label class="col-sm-2 control-label">Type *</label>
                            <div class="col-sm-10">
                                <input type="text" name="type" ng-model="form.type" class="form-control" required placeholder="Type">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Capacity</label>
                            <div class="col-sm-10">
                                <input type="text" name="capacity" ng-model="form.capacity" class="form-control" placeholder="Capacity">
                            </div>
                        </div>
                        <hr style="border: 1px solid #000;">
                        <h4 style="font-weight: bold;" class="card-title">Service details <button type="button" ng-click="addVehiclesRow()" class="btn pull-right btn-danger card-block-input-item">Add New Service</button></h4>    
                        <div class="form-group row" ng-class="{'has-error': addvehicles.service_type.$invalid}">
                            <label class="col-sm-2 control-label">Service Type * </label>
                            <div class="col-sm-10">
                                <input type="text" name="service_type" ng-model="form.service_type" class="form-control" required placeholder="Service Type">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.prev_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Previous Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="prev_service_date" ng-model="form.prev_service_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Previous Service Date" min="2018-06-06">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': addvehicles.next_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Next Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="next_service_date" ng-model="form.next_service_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="Next Service Date">
                            </div>

                        </div>
                        
                        <div ng-repeat="(key,row) in form.vehiclesmul">
                            <div class="form-group row" ng-class="{'has-error': addvehicles.service_type.$invalid}">
                            <label class="col-sm-2 control-label">Service Type * </label>
                            <div class="col-sm-10">
                                <input type="text" name="service_type" ng-model="row.service_type" class="form-control" required placeholder="Service Type">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.prev_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Previous Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="prev_service_date" ng-model="row.prev_service_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Previous Service Date" min="2018-06-06">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': addvehicles.next_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Next Service Date *</label>
                            <div class="col-sm-10">
                                <input style="width: 90%;" type="text" name="next_service_date" ng-model="row.next_service_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="Next Service Date"><button style="margin-left: 3%;" ng-click="removeRow(row,$index)" type="button" class="btn btn-danger btn-circle" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>

                        </div>
                        
                        <hr style="border: 1px solid #000;">
                        <h4 style="font-weight: bold;" class="card-title">Driver details</h4> 
                        <div class="form-group row" ng-class="{'has-error': addvehicles.name.$invalid}">
                            <label class="col-sm-2 control-label">Name * </label>
                            <div class="col-sm-10">
                                <input type="text" name="name" ng-model="form.name" class="form-control" required placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.license_number.$invalid}">
                            <label class="col-sm-2 control-label">License Number *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_number" ng-model="form.license_number" class="form-control" required placeholder="License Number">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': addvehicles.license_issue_date.$invalid}">
                            <label class="col-sm-2 control-label">License Issue Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_issue_date" ng-model="form.license_issue_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="License Issue Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addvehicles.license_expiry_date.$invalid}">
                            <label class="col-sm-2 control-label">License Expiry Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_expiry_date" ng-model="form.license_expiry_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="License Expiry Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addvehicles.work_begin_date.$invalid}">
                            <label class="col-sm-2 control-label">Work Begin Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="work_begin_date" ng-model="form.work_begin_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Work Begin Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addvehicles.work_end_date.$invalid}">
                            <label class="col-sm-2 control-label">Work End Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="work_end_date" ng-model="form.work_end_date" class="form-control datemask" date-picker ng-readonly="true"  placeholder="Work End Date">
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="addvehicles.$invalid">Add Vehicle</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.edit">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">Cancel Edit</button>
                <h4 style="font-weight: bold;" class="card-title">Edit Vehicles</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="editvehicles" role="form" ng-submit="saveEdit()" novalidate>
                        <div class="form-group row" ng-class="{'has-error': editvehicles.vehicle_number.$invalid}">
                            <label class="col-sm-2 control-label">Vehicle Number * </label>
                            <div class="col-sm-10">
                                <input type="text" name="vehicle_number" ng-model="form.vehicle.vehicle_number" class="form-control" required placeholder="Vehicle Number">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editvehicles.year.$invalid}">
                            <label class="col-sm-2 control-label">Year *</label>
                            <div class="col-sm-10">
                                <input type="text" name="year" ng-model="form.vehicle.year" class="form-control" required placeholder="Year">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': editvehicles.make.$invalid}">
                            <label class="col-sm-2 control-label">Make *</label>
                            <div class="col-sm-10">
                                <input type="text" name="make" ng-model="form.vehicle.make" class="form-control" required placeholder="Make">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editvehicles.vehicle_model.$invalid}">
                            <label class="col-sm-2 control-label">Model *</label>
                            <div class="col-sm-10">
                                <input type="text" name="vehicle_model" ng-model="form.vehicle.vehicle_model" class="form-control" required placeholder="Model">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editvehicles.type.$invalid}">
                            <label class="col-sm-2 control-label">Type *</label>
                            <div class="col-sm-10">
                                <input type="text" name="type" ng-model="form.vehicle.type" class="form-control" required placeholder="Type">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Capacity</label>
                            <div class="col-sm-10">
                                <input type="text" name="capacity" ng-model="form.vehicle.capacity" class="form-control" placeholder="Capacity">
                            </div>
                        </div>
                        <hr style="border: 1px solid #000;">
                        <h4 style="font-weight: bold;" class="card-title">Service details <button type="button" ng-click="addVehiclesRow()" class="btn pull-right btn-danger card-block-input-item">Add New Service</button></h4>    
                        <div class="form-group row" ng-class="{'has-error': editvehicles.service_type.$invalid}">
                            <label class="col-sm-2 control-label">Service Type * </label>
                            <div class="col-sm-10">
                                <input type="text" name="service_type" ng-model="form.service.service_type" class="form-control" required placeholder="Service Type">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editvehicles.prev_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Previous Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="prev_service_date" ng-model="form.service.prev_service_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Previous Service Date">
                            </div>
                        </div>


                        <div class="form-group row" ng-cvehicle.lass="{'has-error': editvehicles.service.next_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Next Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="next_service_date" ng-model="form.service.next_service_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="Next Service Date">
                            </div>
                        </div>
                        <div ng-repeat="(key,row) in form.vehiclesmul">
                            <div class="form-group row" ng-class="{'has-error': addvehicles.service_type.$invalid}">
                            <label class="col-sm-2 control-label">Service Type * </label>
                            <div class="col-sm-10">
                                <input type="text" name="service_type" ng-model="row.service_type" class="form-control" required placeholder="Service Type">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addvehicles.prev_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Previous Service Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="prev_service_date" ng-model="row.prev_service_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Previous Service Date" min="2018-06-06">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': addvehicles.next_service_date.$invalid}">
                            <label class="col-sm-2 control-label">Next Service Date *</label>
                            <div class="col-sm-10">
                                <input style="width: 90%;" type="text" name="next_service_date" ng-model="row.next_service_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="Next Service Date"><button style="margin-left: 3%;" ng-click="removeRow(row,$index)" type="button" class="btn btn-danger btn-circle" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>

                        </div>
                        <hr style="border: 1px solid #000;">

                        <h4 style="font-weight: bold;" class="card-title">Driver details</h4> 
                        <div class="form-group row" ng-class="{'has-error': editvehicles.name.$invalid}">
                            <label class="col-sm-2 control-label">Name * </label>
                            <div class="col-sm-10">
                                <input type="text" name="name" ng-model="form.driver.name" class="form-control" required placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editvehicles.license_number.$invalid}">
                            <label class="col-sm-2 control-label">License Number *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_number" ng-model="form.driver.license_number" class="form-control" required placeholder="License Number">
                            </div>
                        </div>


                        <div class="form-group row" ng-class="{'has-error': editvehicles.license_issue_date.$invalid}">
                            <label class="col-sm-2 control-label">License Issue Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_issue_date" ng-model="form.driver.license_issue_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="License Issue Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editvehicles.license_expiry_date.$invalid}">
                            <label class="col-sm-2 control-label">License Expiry Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="license_expiry_date" ng-model="form.driver.license_expiry_date" class="form-control datemask" date-picker ng-readonly="true"  required placeholder="License Expiry Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editvehicles.work_begin_date.$invalid}">
                         <label class="col-sm-2 control-label">Work Begin Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="work_begin_date" ng-model="form.driver.work_begin_date" class="form-control datemask-transport" date-picker ng-readonly="true"  required placeholder="Work Begin Date">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editvehicles.work_end_date.$invalid}">
                            <label class="col-sm-2 control-label">Work End Date *</label>
                            <div class="col-sm-10">
                                <input type="text" name="work_end_date" ng-model="form.driver.work_end_date" class="form-control datemask" date-picker ng-readonly="true"  placeholder="Work End Date">
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="editvehicles.$invalid">Update Vehicle</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<modal visible="showModal"><div ng-bind-html="modalContent"></div></modal>